/* @group General Styles */

body {
	font-family: 'LucidaGrande', Tahoma, 'Trebuchet MS', Verdana, sans-serif;
	font-size: 12px;
	color: #333;

	margin-top: 0px;
  	margin-left: 0px;
  	margin-right: 0px;
  	margin-bottom: 30px;
	background-color: white;
}

p {
}

b, strong {

}

a:link, a:visited {
}

a:hover, a:active {
}

img {
	border: 0;
}

.image-left {
}

.image-right {
}
	
/* @end */

/* @group Layout */

#container {
	margin: 0px;
	padding: 0px;
}

.clearer {
	clear: both;
}

#pageHeader {
  	background: url(images/header.png) 0px 0px repeat-x;	
}

#pageHeaderLogo {
	background: url(images/logo.png) 0px 0px no-repeat;
	width: 600px;
	height: 98px;
}

#pageHeader img {
}

#pageHeader h1 {
}

#pageHeader h2 {
}

#tableContainer {
}

#contentContainer {
	border: solid 1px #e6e6e6;
	padding: 10px;
	min-height: 600px;
}

#contentContainer #content {
}

#sidebarContainer {
}

#sidebarContainer #sidebar {
}

#sidebarContainer .sideHeader {
}

#footer {
	border: solid 1px #e6e6e6;
	margin-top: 30px;
	margin-right: 10px;
	margin-left: 10px;
	padding-left: 10px;
}

#footer p {
	text-align: left;
}

#footer a:link, #footer a:visited {
}

#footer a:hover, #footer a:active {
}
	
/* @end */

/* @group Bread-crumb */

#breadcrumbcontainer {
	background-color: white;
	background: url(images/header_shadow.png) 0px 0px repeat-x;
	height: 30px;
	padding-top: 10px;
	padding-left: 20px;
	margin-bottom: 10px;
	color: #CCCCCC;
}

#breadcrumbcontainer ul {
	margin: 0;
	padding: 0;
}

#breadcrumbcontainer li {
	list-style-type: none;
	float: left;
}

#breadcrumbcontainer a {
	color: #CCCCCC;
	text-decoration: none;
}

#breadcrumbcontainer a:hover {
}
	
/* @end */

/* @group GoogleAds */

#ads_250_250 {
	border: solid 1px #e6e6e6;
	margin-right: 10px;
	margin-left: 10px;
	width: 250px;
	padding: 10px;
}

#ads_160_600 {
	border: solid 1px #e6e6e6;
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px;
}

#ads_468_60 {
	margin-top: 20px;
	text-align: center;
}

/* @end */

/* @group Toolbar */

/* Toolbar Styles */

#navcontainer {
	border: solid 1px #e6e6e6;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 250px;
	padding: 10px;
}

#navcontainer #current {
	background-color: #e6e6e6;
}

#navcontainer #current:hover {
}

#navcontainer .currentAncestor {
}

/* Parent - Level 0 */

#navcontainer ul{
	margin: 0;
	padding: 0;
}

#navcontainer li {
	list-style-type: none;
}

#navcontainer a {
	color: #333;
	text-decoration: none;
	padding: 3px;
	display: block;
}

#navcontainer a:hover {
	background-color: #ccc;
}

#navcontainer a:active {
}

/* Child - Level 1 */

#navcontainer ul ul {
	margin: 0 0 0 10px;
	padding: 0;
}

#navcontainer ul ul li {
}

#navcontainer ul ul a {
}

#navcontainer ul ul a:hover{
}

#navcontainer ul ul #current{
}

#navcontainer ul ul .currentAncestor {
}

/* Child - Level 2 */

#navcontainer ul ul ul {
	padding: 0;
	margin: 0 0 0 10px;
}

#navcontainer ul ul ul li {
}

#navcontainer ul ul ul a{
}

#navcontainer ul ul ul a:hover{
}

#navcontainer ul ul ul #current{
}

#navcontainer ul ul ul .currentAncestor {
}
/* Child Level 3 */

#navcontainer ul ul ul {
}

#navcontainer ul ul ul ul li { 
}

#navcontainer ul ul ul ul a{
}

#navcontainer ul ul ul ul a:hover{
}

/* Child Level 4 */

#navcontainer ul ul ul ul {
}

#navcontainer ul ul ul ul ul li { 
}

#navcontainer ul ul ul ul ul a{
}

#navcontainer ul ul ul ul ul a:hover{
}

/* Child Level 5 */

#navcontainer ul ul ul ul ul {
}

#navcontainer ul ul ul ul ul ul li { 
}

#navcontainer ul ul ul ul ul ul a{
}

#navcontainer ul ul ul ul ul ul a:hover{
}

/* @end */

/* @group Global Classes */

blockquote, .standout {
}

h1 {
	margin-top: 0;
	font-size: 40px;
	letter-spacing: -.07em;	
	color: #999;
}
h2 {
	margin: .3em 0 .3em 0;
	font-size: 26px;
	letter-spacing: -.05em;
	color: #0050a9;
}
h3 {
	margin: 1.3em 0 .2em 0;
	letter-spacing: -.04em;
	font-size: 18px;
	color: #6ABBCF;
}
h4 {
	font-size: 13px;
	margin: 1em 0 .1em 0;
	color: #7CBB4D;
}
h6 {
	float: right;
	font-size: 10px;
	margin: 0;
	padding: 5px;
	border: 1px solid #e6e6e6;
}
.imageStyle {
}



/* Main content area unordered list styles */
#contentContainer #content ul {
}

#contentContainer #content li {
}

ul.disc {
}

ul.circle {
}

ul.square {
}

ol.arabic-numbers {
}

ol.upper-alpha {
}

ol.lower-alpha {
}

ol.upper-roman {
}

ol.lower-roman {
}

/* Sidebar area unordered list styles */
#sidebarContainer #sidebar ul {
}

#sidebarContainer #sidebar li {
}


/* Table Styles */
table {
}

table.details {
}

table.details tr {
}

table.details tr th {	
	border-bottom: solid 1px #b7ff4b;
	text-align: right;
	padding: 10px;
}

table.details tr td {
	padding: 10px;	
}

/* @end */

/* @group Blog */

/* @group Tag Cloud */
ul.blog-tag-cloud {
}

ul.blog-tag-cloud li {
}

.blog-tag-size-1 {	
}

.blog-tag-size-2 {	
}

.blog-tag-size-3 {	
}

.blog-tag-size-4 {	
}

.blog-tag-size-5 {	
}

.blog-tag-size-6 {	
}

.blog-tag-size-7 {	
}

.blog-tag-size-8 {	
}

.blog-tag-size-9 {	
}

.blog-tag-size-10 {	
}

.blog-tag-size-11 {	
}

.blog-tag-size-12 {	
}

.blog-tag-size-13 {
}

.blog-tag-size-14 {	
}

.blog-tag-size-15 {
}

.blog-tag-size-16 {	
}

.blog-tag-size-17 {	
}

.blog-tag-size-18 {	
}

.blog-tag-size-19 {
}

.blog-tag-size-20 {	
}

/* @end */

/* @group Archive Page */

.blog-archive-background {
}

.blog-entry-summary {
}

.blog-archive-headings-wrapper {
}

.blog-archive-entries-wrapper {
}

.blog-archive-entries-wrapper .blog-entry {
}

.blog-archive-month {
}

.blog-archive-link {
}

.blog-archive-link a:link, .blog-archive-link a:visited {
}
	
/* @end */

.blog-entry {
}

h1.blog-entry-title {
}


h1.blog-entry-title a {
}

.blog-entry-date {
}

/*styles the category link in the main entry */
.blog-entry-category {
}

.blog-entry-category a:link, .blog-entry-category a:visited {
}

.blog-read-more {
}

.blog-entry-body {
}

.blog-entry-comments {
}

p.blog-entry-tags {
}

/* styles the archives in the blog sidebar */
#blog-archives {
}

.blog-archive-link-enabled {
}

.blog-archive-link-disabled {
}

/* Styles the blog categories in the blog sidebar */
#blog-categories {
}

.blog-category-link-enabled {
}

.blog-category-link-disabled {
}

/* Styles the blog RSS feeds in the blog sidebar */
#blog-rss-feeds {
}

.blog-rss-link {
}

.blog-comments-rss-link {
}

/* @end */

/* @group File Sharing */

.filesharing-description {
}

.filesharing-item {
}

.filesharing-item-title a:link {
}

.filesharing-item-title a:hover {
}

.filesharing-item-title a:visited {
}

.filesharing-item-description {
}

/* @end */

/* @group Photo Album */

/* @group Index Page (Thumbnail view) */

.album-title {
}

.album-description {
}


.album-wrap {
}

.thumbnail-wrap {
}

.thumbnail-frame {
}

.thumbnail-frame:hover {
}

.thumbnail-frame a {
}

.thumbnail-frame a:hover {
}

.thumbnail-frame img {
}

.thumbnail-caption {
}
	
/* @end */

/* @group Single Page (Photo view) */

.photo-background {
}

.photo-navigation {
}

.photo-links {
}

.photo-navigation a:link, .photo-navigation a:visited {
}

.photo-navigation a:hover {
}

.photo-frame{
}

.photo-title {
}

.photo-caption {
}

/* @group EXIF data */
/* Data wrapper */
.exif-data {
}

.exif-data p {
}

/* p tag classes for all exif data */
p.exif-version {
}

p.exif-colour-space {
}

p.exif-focal-length {
}

p.exif-dimensions {
}

p.exif-pixel-y-dimension {
}

p.exif-pixel-x-dimension {
}

p.exif-oecf-value {
}

p.exif-subsec-time-original {
}

p.exif-exposure-mode {
}

p.exif-spatial-frequency-response {
}

p.exif-scene-capture-type {
}

p.exif-subject-location {
}

p.exif-shutter-speed {
}

p.exif-datetime-original {
}

p.exif-subsec-time {
}

p.exif-compressed-bits-per-pixel {
}

p.exif-flash-energy {
}

p.exif-saturation {
}

p.exif-brightness {
}

p.exif-exposure-time {
}

p.exif-f-number {
}

p.exif-file-source {
}

p.exif-gain-control {
}

p.exif-subject-area {
}

p.exif-cfa-pattern {
}

p.exif-scene-type {
}

p.exif-white-balance {
}

p.exif-flash {
}

p.exif-exposure-index {
}

p.exif-flashpix-version {
}

p.exif-device-setting-description {
}

p.exif-focalplane-x-resolution {
}

p.exif-image-uniqueid {
}

p.exif-components-configuration {
}

p.exif-light-source {
}

p.exif-sensing-method {
}

p.exif-aperture {
}

p.exif-sharpness {
}

p.exif-exposure-program {
}

p.exif-subject-distance {
}

p.exif-subsec-time-digitized {
}

p.exif-contrast {
}

p.exif-focalplane-resolution-unit {
}

p.exif-gamma {
}

p.exif-35mm-focal-length {
}

p.exif-datetime-digitized {
}

p.exif-subject-distance-range {
}

p.exif-custom-rendered {
}

p.exif-max-aperture {
}

p.exif-sound-file {
}

p.exif-metering-mode {
}

p.exif-spectral-sensitivity {
}

p.exif-exposure-bias {
}

p.exif-focalplane-y-resolution {
}

p.exif-iso-rating {
}

p.exif-maker-note {
}

p.exif-digital-zoom-ratio {
}

p.exif-user-comment {
}
/* @end */

/* @end */
	
/* @end */

/* @group Quicktime Page */

.movie-description {
}
	
/* @end */

/* @group Quicktime Album */

/* @group Index Page (Movie Thumbnail view) */

.movie-page-title {
}

.movie-page-description {
}

.movie-thumbnail-frame {
}

.movie-thumbnail-frame:hover {
}

.movie-thumbnail-caption {
}
	
/* @end */

/* @group Single Page (Movie View) */

.movie-background {
}

.movie-title {
}

.movie-frame {
}
	
/* @end */


/* @end */

/* @group Contact Form */
.message-text { 
} 

.required-text {
} 

.form-input-field {
} 

.form-input-button { 
} 
/* @end */